# 3.1数据结构和序列

# 元组

In [2]:
tup = 4,5,6

In [3]:
tup

(4, 5, 6)

# 拆分元组

In [4]:
tup = (4,5,6)

In [5]:
a,b,c = tup

In [6]:
b

5

In [7]:
tup = 4,5,(6,7)

In [8]:
a,b,(c,d) = tup

In [9]:
d

7

In [10]:
values = 1,2,3,4,5    #从元组开头“摘取”几个元素

In [11]:
a,b,*rest = values

In [12]:
a,b

(1, 2)

In [14]:
rest

[3, 4, 5]

In [15]:
a, b, *_ = values

In [16]:
a,b

(1, 2)

In [17]:
_

[3, 4, 5]

# tuple方法 （统计某个值出现的频率）

In [18]:
a = (1,2,2,2,3,4,2)

In [19]:
a.count(2)

4

# 列表

In [20]:
a_list = [2,3,7,None]

In [21]:
a_list

[2, 3, 7, None]

In [22]:
tup = ('foo','bar','baz')

In [23]:
b_list = list(tup)

In [24]:
b_list

['foo', 'bar', 'baz']

In [25]:
b_list[1] = 'peekaboo'    #说明内容是可以被修改的

In [26]:
b_list

['foo', 'peekaboo', 'baz']

In [27]:
gen = range(10)

In [28]:
gen

range(0, 10)

In [29]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# 添加和删除元素

In [31]:
b_list.append('dwarf')   #增加元素

In [32]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [33]:
b_list.insert(1,'red')   #指定位置插入元素

In [34]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [35]:
b_list.pop(2)   #移除并返回指定位置的元素

'peekaboo'

In [41]:
b_list

['red', 'baz', 'dwarf']

In [37]:
b_list.remove('foo')   #去除指定值（第一次出现的这个值）

In [38]:
b_list

['red', 'baz', 'dwarf']

In [39]:
'dwarf' in b_list   #检查列表是否包含某个值

True

In [40]:
'dwarf' not in b_list   #逆运算

False

# 串联和组合列表

In [42]:
[4,None,'foo']+[7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [43]:
x=[4,None,'foo']

In [44]:
x.extend([7,8,(2,3)])

In [46]:
x

[4, None, 'foo', 7, 8, (2, 3)]

# 排序

In [47]:
a = [7,2,5,1,3]

In [48]:
a.sort()

In [49]:
a

[1, 2, 3, 5, 7]

In [50]:
b = ['saw', 'small', 'He', 'foxes','six']

In [51]:
b.sort(key=len)

In [52]:
b

['He', 'saw', 'six', 'small', 'foxes']

# 二分搜索和维护已排序的列表

In [53]:
import bisect

In [54]:
c = [1,2,2,2,3,4,7]

In [55]:
bisect.bisect(c,2)   #返回2之后的位置索引

4

In [56]:
bisect.bisect(c,5)  #返回5（如果原序列有的话）应该在的位置索引（按序）

6

In [57]:
bisect.insort(c,6)  #按序将6插入序列中

In [58]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

# 切片

In [59]:
seq = [7,2,3,7,5,6,0,1]

In [60]:
seq[1:5]      #取索引1-4位置的元素 （结束位置不包括）

[2, 3, 7, 5]

In [61]:
seq[3:4] = [6,3]  #赋值

In [62]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [63]:
seq[:5]    #从开头到位置索引4

[7, 2, 3, 6, 3]

In [64]:
seq[3:]    #从位置索引3到结尾

[6, 3, 5, 6, 0, 1]

In [65]:
seq[-4:]   #负数表示从后往前切片（-1表示倒数第一个元素，以此类推）

[5, 6, 0, 1]

In [66]:
seq[::2]   #start和stop后面的数字表示step(步长)，从而可以实现间隔取元素

[7, 3, 3, 6, 1]

In [68]:
seq[::-1]   #颠倒列表

[1, 0, 6, 5, 3, 6, 3, 2, 7]

# 序列函数

# numerate函数

In [70]:
collection = [1,2,3,4]

In [71]:
i = 0
for value in collection:
    i += 1

In [72]:
i

4

In [74]:
some_list = ['foo', 'bar', 'baz']

In [76]:
mapping = {}

In [79]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [80]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

# sorted函数

In [81]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [82]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

# zip函数

In [83]:
seq1 = ['foo', 'bar', 'baz']

In [84]:
seq2 = ['one', 'two', 'three']

In [85]:
zipped = zip(seq1, seq2)

In [86]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [87]:
seq3 = [False, True]

In [88]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [89]:
pitchers = [('Nolan', 'Ryan'),('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [90]:
first_names, last_names = zip(*pitchers)   #解开压缩，变成两个单独的元组

In [91]:
first_names

('Nolan', 'Roger', 'Schilling')

In [92]:
last_names

('Ryan', 'Clemens', 'Curt')

In [93]:
type(last_names)   #表明是元组

tuple

# reversed函数

In [94]:
list(reversed(range(10)))   #从后向前迭代一个序列

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# 字典

In [95]:
empty_dict = {}

In [96]:
d1 = {'a':'some value', 'b': [1,2,3,4]}

In [97]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [99]:
d1[7] = 'an integer'     #增加一个键值对（前面的是key，后面的是value）

In [100]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [101]:
d1['b']  #通过key查看value

[1, 2, 3, 4]

In [102]:
'b' in d1

True

In [103]:
d1[5] = 'some value'

In [104]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [105]:
d1['dummy'] = 'another value'

In [106]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [107]:
del d1[5]

In [108]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [109]:
ret = d1.pop('dummy')

In [110]:
ret    #返回删除掉的值

'another value'

In [112]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [113]:
list(d1.keys())   #输出key

['a', 'b', 7]

In [114]:
list(d1.values())  #输出value

['some value', [1, 2, 3, 4], 'an integer']

In [115]:
d1.update({'b': 'foo', 'c': 12})

In [116]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

# 用序列创建字典

In [118]:
mapping = dict(zip(range(5), reversed(range(5))))

In [119]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

# 3.2 函数

In [120]:
def my_function(x, y, z=1.5):   #表示如果z没有赋值，就取1.5
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [121]:
my_function(1,2,z=0.7)

0.2333333333333333

In [122]:
my_function(3.14, 7, 3.5)

35.49

In [123]:
my_function(10,20)

45.0

In [124]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [125]:
func()

In [126]:
a

[1, 2, 3, 5, 7]

# 返回多个值

In [127]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a,b,c = f()

In [130]:
return_value = f()

In [131]:
return_value

(5, 6, 7)

In [132]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a':a,'b':b,'c':c}

In [133]:
f()

{'a': 5, 'b': 6, 'c': 7}

In [134]:
states = ['    Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south   carolina##', 'West virginia?']

In [135]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()   #去掉字符串头尾的空格换行符之类的
        value = re.sub('[!#?]', '', value)   #去掉#号、！号、？号
        value = value.title()    #将value的值格式改成首字母大写后面字母小写然后再赋给value
        result.append(value)   #将新的value值填充到result中去(list)
    return result

In [138]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

# 匿名（lambda）函数

In [139]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

In [140]:
ints = [4,0,1,5,6]

In [141]:
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

# 柯里化

In [142]:
def add_numbers(x, y):
    return x + y

In [143]:
add_five = lambda y: add_numbers(5, y)

In [148]:
add_five(9)

14