In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from datetime import datetime

# 11.1 日期和时间数据类型及工具

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2020, 3, 6, 17, 16, 50, 379807)

In [4]:
now.year, now.month, now.day

(2020, 3, 6)

In [5]:
delta = datetime(2011, 1, 7)-datetime(2008, 6, 24, 8, 15)

In [6]:
delta

datetime.timedelta(926, 56700)

In [7]:
delta.days  #天数

926

In [8]:
delta.seconds #秒

56700

In [9]:
from datetime import timedelta

In [10]:
start = datetime(2011, 1, 7)

In [11]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [12]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

# 字符串和datetime的相互转换

In [13]:
stamp = datetime(2011, 1, 3)

In [14]:
str(stamp)  #传入一个格式化字符串

'2011-01-03 00:00:00'

In [15]:
stamp.strftime('%Y-%m-%d') #传入一个格式化字符串

'2011-01-03'

In [16]:
value = '2011-01-03'

In [17]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [18]:
datestrs = ['7/6/2011', '8/6/2011']

In [19]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [20]:
from dateutil.parser import parse

In [21]:
parse('2011-01-03')   #进行日期解析的简单方式

datetime.datetime(2011, 1, 3, 0, 0)

In [22]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [23]:
parse('6/12/2011', dayfirst=True)   #让日出现在月前面

datetime.datetime(2011, 12, 6, 0, 0)

In [24]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [25]:
pd.to_datetime(datestrs)  #可以解析多种不同的日期表示形式

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [26]:
idx = pd.to_datetime(datestrs + [None])

In [27]:
idx  #NaT是pandas中时间戳数据的null值

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [28]:
idx[2]

NaT

In [29]:
pd.isnull(idx)

array([False, False,  True])

# 11.2 时间序列基础

In [30]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
        datetime(2011, 1, 7), datetime(2011, 1, 8),
        datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [31]:
ts = Series(np.random.rand(6), index=dates)

In [32]:
ts

2011-01-02    0.820195
2011-01-05    0.635695
2011-01-07    0.477851
2011-01-08    0.529824
2011-01-10    0.058736
2011-01-12    0.941697
dtype: float64

In [33]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [34]:
ts + ts[::2]

2011-01-02    1.640390
2011-01-05         NaN
2011-01-07    0.955701
2011-01-08         NaN
2011-01-10    0.117472
2011-01-12         NaN
dtype: float64

In [35]:
ts.index.dtype

dtype('<M8[ns]')

In [36]:
stamp = ts.index[0]

In [37]:
stamp

Timestamp('2011-01-02 00:00:00')

# 索引、选取、子集构造

In [38]:
stamp = ts.index[2]

In [39]:
stamp

Timestamp('2011-01-07 00:00:00')

In [40]:
ts[stamp]

0.4778507017551096

In [41]:
ts['1/10/2011']

0.058735883324501637

In [42]:
ts['20110110']

0.058735883324501637

In [44]:
longer_ts = Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))

In [45]:
longer_ts

2000-01-01   -1.509871
2000-01-02   -0.343452
2000-01-03   -1.217533
2000-01-04   -0.175069
2000-01-05   -0.748766
2000-01-06   -0.712669
2000-01-07    0.638681
2000-01-08    0.483253
2000-01-09   -0.085196
2000-01-10    1.012539
2000-01-11    0.392616
2000-01-12   -0.533346
2000-01-13    0.811712
2000-01-14   -0.557436
2000-01-15   -0.224437
2000-01-16    1.249467
2000-01-17   -0.358748
2000-01-18    0.308374
2000-01-19    0.083270
2000-01-20   -0.521723
2000-01-21    0.645851
2000-01-22    0.659091
2000-01-23    0.016367
2000-01-24   -1.469810
2000-01-25    1.023662
2000-01-26    0.841425
2000-01-27    0.577219
2000-01-28    0.104311
2000-01-29   -1.402576
2000-01-30    0.828401
                ...
2002-08-28    0.350905
2002-08-29    0.857965
2002-08-30   -0.697136
2002-08-31    0.679567
2002-09-01   -0.399428
2002-09-02   -0.867134
2002-09-03    1.336697
2002-09-04   -0.467276
2002-09-05    0.477137
2002-09-06   -0.302891
2002-09-07    1.093874
2002-09-08   -1.570513
2002-09-09    0.270184
2002-09-10   -1.068212
2002-09-11    1.818359
2002-09-12    1.235119
2002-09-13    2.250184
2002-09-14    0.278755
2002-09-15   -1.631078
2002-09-16    0.223721
2002-09-17    1.164020
2002-09-18    0.607983
2002-09-19    0.836636
2002-09-20    0.271807
2002-09-21    0.206252
2002-09-22    1.038597
2002-09-23    1.144713
2002-09-24   -1.088884
2002-09-25    0.418514
2002-09-26    0.196848
Freq: D, Length: 1000, dtype: float64

In [47]:
longer_ts['2001-05']  #选取2001年5月份的数值

2001-05-01   -0.269719
2001-05-02    0.700496
2001-05-03   -0.869715
2001-05-04   -1.842282
2001-05-05   -1.087542
2001-05-06   -0.614775
2001-05-07   -1.179689
2001-05-08    0.785495
2001-05-09    0.730395
2001-05-10    2.484360
2001-05-11   -0.502152
2001-05-12    0.011773
2001-05-13   -1.174493
2001-05-14    0.358096
2001-05-15   -1.010180
2001-05-16    0.791574
2001-05-17    0.769166
2001-05-18    2.018411
2001-05-19   -1.465441
2001-05-20   -1.038109
2001-05-21    1.752020
2001-05-22    0.121686
2001-05-23   -0.343428
2001-05-24   -0.882120
2001-05-25    0.189579
2001-05-26   -0.685356
2001-05-27   -0.521431
2001-05-28    0.375770
2001-05-29   -1.388895
2001-05-30   -0.185661
2001-05-31   -2.251967
Freq: D, dtype: float64

In [48]:
ts[datetime(2011, 1, 7):]

2011-01-07    0.477851
2011-01-08    0.529824
2011-01-10    0.058736
2011-01-12    0.941697
dtype: float64

In [49]:
ts

2011-01-02    0.820195
2011-01-05    0.635695
2011-01-07    0.477851
2011-01-08    0.529824
2011-01-10    0.058736
2011-01-12    0.941697
dtype: float64

In [50]:
ts['1/6/2011':'1/11/2011']  #可以用不存在于该时间序列中的时间戳进行切片（在时间序列数据按照时间先后排序的情况下）

2011-01-07    0.477851
2011-01-08    0.529824
2011-01-10    0.058736
dtype: float64

In [51]:
ts.truncate(after='1/9/2011')

2011-01-02    0.820195
2011-01-05    0.635695
2011-01-07    0.477851
2011-01-08    0.529824
dtype: float64

In [52]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [53]:
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [54]:
long_df = DataFrame(np.random.randn(100,4),
                   index=dates,
                   columns=['Cplorado', 'Texas',
                           'New York', 'Ohio'])

In [56]:
long_df.loc['5-2001']  #选取所有2001年5月份的数据

            Cplorado     Texas  New York      Ohio
2001-05-02 -1.586475  0.567914 -0.711678 -1.354611
2001-05-09 -0.246632  0.217765 -1.132751 -0.065284
2001-05-16 -1.300542 -0.268276 -2.125201 -0.717250
2001-05-23 -1.784792 -0.844566  0.136698 -1.224033
2001-05-30 -0.373833 -0.139488 -1.051382 -1.161427

# 带有重复索引的时间序列

In [57]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])

In [58]:
dup_ts = Series(np.arange(5), index=dates)

In [59]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [60]:
dup_ts.index.is_unique

False

In [61]:
dup_ts['1/3/2000']

4

In [62]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [63]:
grouped = dup_ts.groupby(level=0)

In [64]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [65]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

# 日期的范围、频率以及移动

In [66]:
ts

2011-01-02    0.820195
2011-01-05    0.635695
2011-01-07    0.477851
2011-01-08    0.529824
2011-01-10    0.058736
2011-01-12    0.941697
dtype: float64

In [67]:
resampler = ts.resample('D') #将之前的时间序列转换为一个具有固定频率（每日）的时间序列

In [68]:
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

# 生成日期范围

In [69]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [70]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [71]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [73]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [74]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [75]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [76]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

# 频率和日期偏移量

In [77]:
from pandas.tseries.offsets import Hour, Minute

In [78]:
hour = Hour()

In [79]:
hour

In [80]:
four_hours = Hour(4)

In [81]:
four_hours

In [82]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h') #以四小时为间隔

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [83]:
Hour(2) + Minute(30) #偏移量对象大都可以通过加法进行连接

In [84]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

# WOM日期

In [85]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')

In [86]:
list(rng)   #每月第三个星期五

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]