In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# 7.3 字符串操作

# 字符串对象方法

In [2]:
val = 'a,b, guido'

In [3]:
val.split(',')

['a', 'b', ' guido']

In [5]:
type(val)   #字符串

str

In [6]:
type(val.split(','))   #列表

list

In [7]:
pieces = [x.strip() for x in val.split(',')]    #strip可以去除空白符和换行符

In [8]:
pieces

['a', 'b', 'guido']

In [9]:
first, second, third = pieces

In [10]:
first + '::' + second + '::' + third

'a::b::guido'

In [11]:
'::'.join(pieces)

'a::b::guido'

In [12]:
'guido' in val

True

In [13]:
val.index(',')

1

In [14]:
val.find(':')

-1

In [15]:
val.index(':')

ValueError: substring not found

In [17]:
val.count(',')

2

In [18]:
val.replace(',','::')

'a::b:: guido'

In [20]:
val.replace(',','')

'ab guido'

# 正则表达式

In [21]:
import re

In [22]:
text = "foo    bar\t baz  \tqu"

In [23]:
re.split('\s+', text)     #描述一个或多个空白符的regrex

['foo', 'bar', 'baz', 'qu']

In [24]:
regrex = re.compile('\s+')

In [25]:
regrex.split(text)

['foo', 'bar', 'baz', 'qu']

In [26]:
regrex.findall(text)

['    ', '\t ', '  \t']

# pandas的矢量化字符串函数

In [27]:
data = {'Dave': 'dave@google.com', 'Steve':'steve@gmail.com', 'Rob':'rob@gmail.com', 'Wes':np.nan}

In [28]:
data = Series(data)

In [29]:
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [30]:
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [31]:
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [32]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'

In [34]:
pattern

'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'

In [35]:
matches = data.str.match(pattern, flags=re.IGNORECASE)

In [36]:
matches

Dave     True
Steve    True
Rob      True
Wes       NaN
dtype: object

In [37]:
matches.str.get(1)

Dave    NaN
Steve   NaN
Rob     NaN
Wes     NaN
dtype: float64

In [38]:
matches.str[0]

Dave    NaN
Steve   NaN
Rob     NaN
Wes     NaN
dtype: float64

In [39]:
data.str[:5]

Dave     dave@
Steve    steve
Rob      rob@g
Wes        NaN
dtype: object