# 离散化和面元分析

In [1]:
ages = [20,22,25,27,21,23,37,31,61,45,41,32]

In [2]:
bins=[18,25,35,60,100]

In [4]:
import pandas as pd

In [5]:
cats = pd.cut(ages,bins)

In [6]:
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [7]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [8]:
group_names=['Youth','YoungAdult','MiddleAged', 'Senior']

In [9]:
pd.cut(ages, bins,labels=group_names)

[Youth, Youth, Youth, YoungAdult, Youth, ..., YoungAdult, Senior, MiddleAged, MiddleAged, YoungAdult]
Length: 12
Categories (4, object): [Youth < YoungAdult < MiddleAged < Senior]

In [11]:
agess = pd.DataFrame(ages)

In [12]:
agess['cate'] = pd.cut(ages, bins,labels=group_names)

In [13]:
agess

     0        cate
0   20       Youth
1   22       Youth
2   25       Youth
3   27  YoungAdult
4   21       Youth
5   23       Youth
6   37  MiddleAged
7   31  YoungAdult
8   61      Senior
9   45  MiddleAged
10  41  MiddleAged
11  32  YoungAdult

# 检测和过滤异常值

# 排列和随机采样

利用numpy.random.permutation函数实现排列

In [16]:
import numpy as np

In [17]:
df=pd.DataFrame(np.arange(5*4).reshape((5,4)))

In [18]:
sampler = np.random.permutation(5)

In [19]:
sampler

array([1, 0, 3, 4, 2])

In [20]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [23]:
df.take(sampler) #随机重排序

    0   1   2   3
1   4   5   6   7
0   0   1   2   3
3  12  13  14  15
4  16  17  18  19
2   8   9  10  11

# 计算指标/哑变量

get_dummies函数

In [27]:
df = pd.DataFrame({'key':['b','b','a','c','a','b'],
                  'data1':range(1,7)})

In [28]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [29]:
df

  key  data1
0   b      1
1   b      2
2   a      3
3   c      4
4   a      5
5   b      6

In [30]:
dummies = pd.get_dummies(df['key'],prefix='key')

In [31]:
df_with_dummy=df[['data1']].join(dummies)

In [33]:
df_with_dummy

   data1  key_a  key_b  key_c
0      1      0      1      0
1      2      0      1      0
2      3      1      0      0
3      4      0      0      1
4      5      1      0      0
5      6      0      1      0

# 字符串操作

In [34]:
val = 'a,b,  guido'

In [35]:
val.split(',')

['a', 'b', '  guido']

In [36]:
pieces = [x.strip for x in val.split(',')]

In [37]:
pieces